.itemList{
  width: 88%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 2%;
  border: 1px solid #E98074;
  margin-top: 5px;
  margin-bottom: 5px;
  background: rgba(233, 128, 116, 0.2);
  border-radius: 20px;
}

.green, .blue{
  height: 80%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.green{
  background-color: #61C454;
}

.blue{
  background-color: #6779e1;
}

.description{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 65%;
}

.close{
  height: 40%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.mark{
  background: rgba(233, 128, 116, 0.2);
  outline: none;
  border: 1px solid #E98074;
  width: 10%;
  height: 70%;
  border-radius: 40px;
  text-align: center;
  color: #505050;
}

