.lecture{
  width: 20%;
  height: 40%;
  background-color: rgb(233, 128, 116, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2%;
  box-shadow: 0px 0px 4px #505050;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.lecture:hover{
  box-shadow: 0px 0px 10px 4px #E98074;
}

.box{
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.button{
  width: 50%;
  height: 15%;
  border-radius: 20px;
  border: 0px solid #E98074;
  background-color: #EAE7DC;
  color: #8E8D8A;
  font-weight: bold;
  box-shadow: 0px 0px 4px #505050;
  cursor: pointer;
}

.button:hover{
  box-shadow: 0px 0px 6px 2px #E98074;
}