.graphUp{
  width: 500px;
  height: 250px;
  border-radius: 20px;
  opacity: 90%;
  margin-bottom: 30px;
}

.graphLeft{
  width: 200px;
  height: 170px;
  border-radius: 20px;
  opacity: 90%;
}

.graphRight{
  width: 260px;
  height: 160px;
  border-radius: 20px;
  opacity: 90%;
}

.graphs{
  display: flex;
  flex-direction: column;
  margin-right: 8%;
  flex-grow: 3;
}

.down{
  display: flex;
  align-items: center;
  justify-content: space-between;
}